@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montsrat';
  src: url('../Fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserat';
  src: url('../Fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


* {
    box-sizing: border-box;
}

.menu-nav {
  @apply hidden max-w-[150px] justify-between py-[5px] text-[16px] flex gap-[15px];
}

.cards-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.cards-one > div, .cards-two > div {
  @apply text-[#1a2456] cursor-pointer relative;
}

.cards-two {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.span-two {
  @apply col-span-2;
}

.foot-ctn {
  margin: auto;
  width: 95%;
  color: #E4B7A9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.foot-ctn > ul {
  line-height: 30px;
  padding: 0;
  margin-bottom: 30px;
}

.txt-horz {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.txt-horz div:first-child {
  @apply max-w-[70%];
}

.social-icon {
  @apply bg-[#E4B7A9] rounded-[30px] px-[5px] py-[3px] text-[#1a2456] text-[15px];
}

.pre-order {
  width: fit-content;
  background-color: #ff8b68;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #1a2456;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 13px;
  z-index: 10;
  font-family: 'Montserrat';
}

.create {
  @apply font-[Montserrat] text-4xl mb-[20px] text-[#1a2456];
}
.every {
  @apply font-[Montserrat] text-4xl mb-[20px] text-[#E4B7A9];
}
.perfect {
  @apply text-[20px] text-[#1a2456];
}
.discover {
  @apply text-[20px] text-[#E4B7A9];
}

.first-section {
  @apply h-[650px] bg-[url('../Images/first-sec-bg.jpg')] bg-cover bg-center w-full;
}

@media (max-width: 1200px) {
  .cards-two {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .cards-two, .cards-one {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .addons-img {
    @apply w-[100%] h-[250px];
  }

  .cards-two, .cards-one {
    grid-template-columns: 1fr;
  }

  .span-two {
    @apply col-span-1;
  }

  .first-section {
    @apply h-[500px];
  }
}

@media (max-width: 1300px) {
  .addons-img {
    @apply w-[90%] h-[300px];
  }
}

@media (max-width: 1100px) {
  .addons-img {
    @apply w-[95%] h-[300px];
  }
  .create {
    @apply text-3xl;
  }
  .discover {
    @apply text-[18px];
  }
}

@media (max-width: 950px) {
  .addons-img {
    @apply w-[100%] h-[250px];
  }
  
}

@media (max-width: 750px) {
  .addons-img {
    @apply w-[100%] h-[230px];
  }
  .create {
    @apply text-2xl mb-[10px];
  }
}

@media (max-width: 650px) {
  .addons-img {
    @apply w-[100%] h-[200px];
  }
}

@media (max-width: 550px) {
  .addons-img {
    @apply h-[150px];
  }
  .create {
    @apply text-xl;
  }
  .perfect {
    @apply text-[15px]
  }
}

@media (max-width: 380px) {
  .addons-img {
    @apply h-[130px];
  }
  .usd {
    display: none;
  }
}

@media (max-width: 965px) {
  .desk-menu {
    @apply hidden;
  }
  .menu-nav {
    @apply flex;
  }
}

.slide-menu {
  display: flex;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px;
    position: relative;
    margin-top: 2px;
}
.slide-menu span {
  display: block;
    height: 2px;
    width: 100%;
    background: #E4B7A9;
    border-radius: 2px;
    transition: all 0.4s ease;
}

.menu-slide {
  position: fixed;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #1a2456;
  color: #E4B7A9;
  width: 400px;
  z-index: 50;
  top: 0;
  left: -400px;
  transition: left 0.4s ease;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

@media (max-width: 430px) {
  .menu-slide {
    width: 100%;
    left: -100%;
  }
}

.menu-slide.active {
  left: 0;
}

.menu-info {
  @apply w-full pl-[20%];
}

.menu-p, .menu-ul > li {
  @apply py-[20px] border-b border-b-[#181b37];
}

button.pressed {
    transform: scale(0.97);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.second-slide {
  display: flex;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px;
    position: relative;
  margin-top: 10px;
}

.second-slide span {
  display: block;
    height: 2px;
    width: 100%;
    background: #E4B7A9;
    border-radius: 2px;
    transition: all 0.4s ease;
}

.second-slide span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
}

.second-slide span:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -5px);
}